.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.shop{
    min-height: 90vh;
    display: flex;
    width: 100%;
    padding: 0 4rem;
    background: white;
}

.sideBar {
    width: 18vw;
    color: rgb(68, 61, 61);
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.4);

    padding-top: 3rem;
    font-size: 18px;
    font-weight: 500;
} 

.categoriesBox>:first-child{
    color: black;
    font-size: 22px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.categories {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories p{
    padding: 5px;
}

.categories p:hover {
    background: rgb(161, 150, 150);
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.clicked{
    background: black;
    color: white;
}

.productBox{
    flex: 1;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

.search{
    /* justify-self: start; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0 0;
    font-size: 20px;
    font-weight: 600;
}

.input{
    width: 350px;
    height: 40px;
    border-radius: 9000px;
    padding: 2px 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.6);
}

