.cart{
    min-height: 90vh;
    display: flex;
    width: 100%;
    padding: 0 4rem 1rem;
    background: rgb(255, 255, 255, 0.87);
}

.productsBox{
    flex: 2;
}

.h1{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    padding: 30px;

}

.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

.product{
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform .3s ease;
}

.product:hover{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}



.product img {
    object-fit: contain;
    width: 7vw;
    padding-left: 2rem;
}

.middleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    width: 60%;
}

.title{
    font-size: 18px;
    font-weight: 600;
}

.itemPrice{
    font-size: 20px;
    font-weight: 700;
    align-self: end;
}

.btnSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.delete{
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background: rgb(245, 111, 111);
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.plusMinusBox {
    display: flex;
    justify-content: space-between; /* Distribute space evenly */
    align-items: center; /* Center items vertically */
    width: 6rem;
    font-size: 20px;
    font-weight: 700;
    background: gainsboro;
    padding: 1px 12px;
    border-radius: 9000px;
}

.plusMinusBox *{
    padding-bottom: 4px;
    cursor: pointer;
}

.itemAmount{
    font-size: 18px;
    cursor: default;
    padding-top: 2px;
}

/* Sum section */

.sumBox{
    flex: 1;
    padding-top: 8rem;
    /* display: none; */
}

.sum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 15rem;
    margin:0 10px;
    padding: 1.5rem;
}

.h2{
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}
.subtotal,
.delivery,
.total{
    display: flex;
    justify-content: space-between;
}

.price{
    font-weight: 500;
    font-size: 16px;
}

.totalPrice{
    font-size: 20px;
    font-weight: 700;
}

.subtotal>:first-child,
.delivery>:first-child{
    color: rgb(112, 104, 104);
}

.total{
    border-top: 1px solid rgb(191, 168, 168);
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.buyBtn{
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 200px;
    padding: 7px;
    margin-top: 5px;
    border: none;
    border-radius: 9000px;
    align-self: center;
    transition: transform .3s ease;
}

.buyBtn:hover{
    transform: scale(1.1);
}

/* Empty cart */
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 6rem;
}

.empty p{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 50px;
}

.shopBtn{
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 9000px;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.shopBtn:hover{
    transform: scale(1.1);
}

