.mainContainer{
    display: flex;
    min-height: 88vh;
    padding-top: 1rem;
    margin: 0 4rem;
}

.info{
    flex: 1;
    align-self: center;
}

.info>:first-child {
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: 900;
    line-height: 1;
}

.info p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* font-size: 1rem; */
}

.shopBtn{
    font-size: 20px;
    font-weight: bold;
    color: white;

    padding: 15px 20px;

    background: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 990px;
    transition: transform 0.3s ease;
}

.shopBtn:hover{
    transform: scale(1.1);
}

.sellNumbers {
    display: flex;
    margin-top: 2rem;
    gap: 20px;
}

.sellNumbers p{
    margin: 0;
}

.brands,
.products,
.customers{
    padding-right: 20px;
}

.brands,
.products{
    border-right: 1px solid rgb(46, 44, 44);
}

.brands>:first-child,
.products>:first-child,
.customers>:first-child {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.photoBox{
    flex: 1;
    max-height: 88vh;
}

.img{
    width: 100%;
    height: auto;

}